{% extends "home.html" %}
{% block body %}
    {% if user_type == 'ADMIN' %}
        <div class="container mt-4">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Listing ID</th>
                        <th>VIN</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Year</th>
                        <th>Mileage</th>
                        <th>Price</th>
                        <th>Verification Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vehicle in vehicles %}
                    <tr>
                        <td>{{ vehicle.0 }}</td>
                        <td><a href="/product/{{ vehicle.0 }}/">{{ vehicle.1 }}</a></td>
                        <td>{{ vehicle.5 }}</td>
                        <td>{{ vehicle.6 }}</td>
                        <td>{{ vehicle.8 }}</td>
                        <td>{{ vehicle.9 }}</td>
                        <td>{{ vehicle.10 }}</td>
                        <td>
                            {% if vehicle.15 == True %} 
                                <span style="color: green; font-weight: bold;">&#10003;</span>
                            {% elif vehicle.15 == False %} 
                                <span style="color: red; font-weight: bold;">&#10007;</span>
                            {% else %} 
                                Pending
                            {% endif %}
                        </td>
                        <td>
                            <form method="post" class="form-inline">
                                {% csrf_token %}
                                <input type="hidden" name="listing_id" value="{{ vehicle.0 }}">
                                <select name="verification_action" class="form-select form-select-sm mr-2">
                                    <option value="" disabled selected>--select--</option>
                                    <option value="Verify">Verify</option>
                                    <option value="NotVerify">Not Verify</option>
                                    <option value="Pending">Pending</option>
                                </select>
                                
                        
                                <button type="submit" class="btn btn-primary btn-sm">Update</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="container mt-4">
            <p>You do not have permission to view this page.</p>
        </div>
    {% endif %}
{% endblock %}

